<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BaiCheng.Properties.Settings.bcDBConnectionString"
        connectionString="Data Source=.;Initial Catalog=hdcDB;User ID=sa;Password=sa"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>