<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BaiCheng.Properties.Settings.bcDBConnectionString"
        connectionString="Data Source=.;Initial Catalog=bcDB;User ID=sa;Password=sa"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings >
    <add key="AppName" value ="数据查询"/>
  </appSettings>
</configuration>