<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiCheng.Properties.Settings.bcDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=bcDB;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>